<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ACCOUNT USERS</title>

	{% include 'default/head_css_js.html' %}
	
</head>
<body>

	<form class="box_out" action="{% url action %}" method="{{ method }}" accept-charset="utf-8">
		{% csrf_token %}

		<section class="box_in crt_display">
			<h1 class="title_crt crt_text">{{ title }}</h1>

			<div class="box_messages " >
			
				{% for message in messages %}
					<div class="alert_{{ message.tags }} glitch">
						<p>{{ message }}<p>					
					</div>
				{% endfor %}
			</div>

			{% if not request.user.is_authenticated %}

				<div class="titleInputs">
					<input type="text" name="username" >
					<span data-placeholder="{{ form.username.label }}" ></span>		
				</div>
				<div class="titleInputs">
					<input class="crt_text" type="password" name="password">
					<span data-placeholder="{{ form.password.label }}" ></span>		
				</div>

			{% endif %}

		</section>

			<div class="box_footer">
				
				<input class="btn binfo" type="submit" name="{{ btn }}" value="{{ btn }}">

				{% if 'Logout' == btn2 %}

					<input class="btn" type="submit" name="{{ btn2 }}" value="{{ btn2 }}">

				{% endif %}

			{% if not request.user.is_authenticated %}
				<div class="bottom_text">
					<p>Don't have account? <a href="#">sign up</a></p>
				</div>
			{% endif %}
		</div>

	</form>
	<script type="text/javascript">
		$(".titleInputs input").on("focus", function(){
			//alert("Hello! I am an alert box!");
			$(this).addClass("focus");

		});

		$(".titleInputs input").on("blur", function(){
			if($(this).val() == "")
				$(this).removeClass("focus");
		});
	</script>



</body>
</html>