{% extends "base.html" %}


{% block content %}
<h1 >LOGIN  - VIEW</h1>
-------------------------------------
<!--
{% if error %}
	<p style="color: red">{{ error }}</p>
{% else %}
	<p style="color: green">{{ message }}</p>
{% endif %}

<form action="{% url action %}" method="POST" accept-charset="utf-8">
	
	{% csrf_token %}
	{% if not request.user.is_authenticated %}
	
		<input type="text" name="username" placeholder="Your username" />
		<input type="password" name="password" placeholder="Your password" />
		<button type="submit">Login</button>
	
	{% else %}
		
		<button type="submit" name="accountLogout" value="account_logout">Logout</button>
		<button type="submit" name="home_page" value="home_page">Home Page</button>

	{% endif %}

</form>
-->
	<form class="box_out" action="{% url action %}" method="POST" accept-charset="utf-8">
		{% csrf_token %}
		<section class="box_in crt_display">

			<h1 class="title_crt crt_text">LOGIN</h1>
			<!--
			{% for messagErrs in form.errors %}
				{{ messagErrs }}
			{% endfor %}
			-->

			<div class="box_messages" >

				{% for message in messages %}
					<div class="alert_{{ message.tags }}">
						{{ message }}					
					</div>
				{% endfor %}
			</div>
				
			</div>
			<!--
			<div class="titleInputs">
				<input type="text">
				<span data-placeholder="Username" ></span>		
			</div>
			<div class="titleInputs">
				<input class="crt_text" type="password">
				<span data-placeholder="Password" ></span>		
			</div>

			-->
			<div class="titleInputs">
				<input type="text" name="username" >
				<span data-placeholder="{{ form.username.label }}:" ></span>		
			</div>
			<div class="titleInputs">
				<input class="crt_text" type="password" name="password">
				<span data-placeholder="{{ form.password.label }}" ></span>		
			</div>

		</section>
		<div class="box_footer">
			<input class="btn" type="submit" value="Login">

			<div class="bottom_text">
				<p>Don't have account? <a href="#">sign up</a></p>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(".titleInputs input").on("focus", function(){
			//alert("Hello! I am an alert box!");
			$(this).addClass("focus");

		});

		$(".titleInputs input").on("blur", function(){
			if($(this).val() == "")
				$(this).removeClass("focus");
		});
	</script>

{% endblock content %}