{% extends "base.html" %}


{% block content %}
	<h1>REGISTER USER  - VIEW</h1>
	-------------------------------------

	{% if error %}
		<p style="color: red">{{ error }}</p>
	{% else %}
		<p style="color: green">{{ message }}</p>
	{% endif %}

	{% if name %}
	<fieldset>
		<form action="{% url action %}" method="POST" accept-charset="utf-8">
				{% csrf_token %}

				{{ form }}
				<button type="submit" name="{{ name }}" value="">OK</button>
		</form>
	</fieldset>
		<a href="{% url 'home_page' %}">Cancel</a>
	{% else %}
		<form action="{% url action %}">
			<button type="submit" name="{{ name }}" value="">Login</button>
		</form>
	{% endif %}	

{% endblock content %}
