{% load static %}

<!-- BEGING FONT STYLE -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&dis
play=swap" rel="stylesheet"><!-- font-family: 'Press Start 2P', cursive
; -->
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap
" rel="stylesheet"><!-- font-family: 'Rubik', sans-serif; -->
<!-- END FONT STYLE -->


<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/effects.css' %}">


<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>