{% extends "base.html" %}

{% block content %}

	{% if obj_list %}
		<!--
		<h1>{{ title }}</h1> -> ({{ id }} )
		-->
		<h2>{{ content }}</h2>		<ul>
			{% for i in obj_list %}
				<!--
			 	<li><a href="/articles/{{ i.id}}">-{{ i.title }} - {{ i.content }}</a></li>
				<li><a href='{% url "article_view" slug=i.slug %}'>-{{ i.title }} - {{ i.content }}</a></li>
				-->
			 	<li><a href="{{ i.get_absolute_url}}">-{{ i.title }} - {{ i.content }}</a></li>
			{% endfor %}
		</ul>

	{% else %}

		<h2>There are no posts yet. Be the first.</h2>
		<form action="{% url 'article_create' %}" method="GET">
			<input type="submit" value="New Post">
		</form>

	{% endif %}

{% endblock content %}