*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

input[type='text']{
  font-family: 'Press Start 2P', cursive;
}

body {
  background: #b2ebf2;
}

.title_crt{
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}
/*
.box_out{
  width: 300px;
  padding: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2e2e2e;
  text-align: center;
}
*/

.box_out{
  display: grid;
  width: 400px;
  height: 450px;
  padding: 10px;
  background-image: url('/static/img/bg.png');
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #1c252b;
}



.box_in{
  display: block;
  width: 90%;
  height: 60%;
  position: absolute;
  background: #eceff1;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #2e2e2e;
}

.titleInputs{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

/*  end messagens   */


.box_messages{
  bottom: 0;
  margin-top: 15px;
  text-align: center;
  height: 30px;
  background: linear-gradient(90deg,#eceff1, #fafafa);
  padding: 5px;
}

.box_messages div{
  font-size: 13px;
  font-family: 'Press Start 2P', cursive;
  color: #263238;

}

.box_messages p{
  padding: 3px;
 
}
.alert_success{
  background: linear-gradient(90deg,#c5e1a5, #eceff1);
}

.alert_info{
  background: linear-gradient(90deg,#b3e5fc, #eceff1);
}

.alert_error{
  background: linear-gradient(90deg,#ffcdd2, #eceff1);
}

.alert_warning{
  background: linear-gradient(90deg,#fffde7, #eceff1);
}


/*  end messagens   */

.titleInputs input{


  font-size: 25px;
  width: 90%;
  border: none;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;

}

.titleInputs span::after{
    font-family: 'Press Start 2P', cursive;
  content: attr(data-placeholder);
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 5px;
  color: #455a64;
  transform: translateY(-50%);
  transition: .5s;
  z-index: -1;
}

.titleInputs span::before{
content: '';
position: absolute;
width: 0%;
left: 0px;
top: 100%;
height: 3px;

background: #455a64;
transition: .5s;

}


.focus + span::after{
  background: #455a64;
  padding: 2px;
  color: #eceff1;
  font-size: 12px;
  top: -5px;

}

.focus + span::before{
  width: 100%;

}
/*  BUTTON   */ 

.btn{
  outline: 0;
  font-weight: bold;
  font-size: 15px;
  color: #9fa8b0;
  font-family: 'Press Start 2P', cursive;
  margin: 15px 5px 12px;
  padding: 10px 30px;
  border-radius: 3px;
  background: linear-gradient(#78909c 4%, #546e7a 10%, #37474f 100%);
  border: 2px solid #263238;
  text-shadow: 2px 2px #1f272b;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
}

.btn:hover {
    color: #fff;
    text-shadow: 2px 2px #33691e;
    background: linear-gradient(#c5e1a5 4%, #8bc34a 10%, #558b2f 100%);
    border: 2px solid #33691e;

}

.box_footer{
  text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
  height: 25%;
  border-radius: 10px;
  width: 100;
  background: #454545;
  align-self: end;
  text-align: center;

}


@media only screen and (max-width: 600px) {
  /* For desktop: */
  body {  
     
     background: #dcedc8;

  }
}

