<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title></title>

		<!-- CSS -->
		{% include 'default/head_css_js.html' %}

		<!--    -->

	</head>
	<body>
		----------------------------
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					<h3>{{ message }}</h3>						
				</div>
			{% endfor %}
		{% endif %}
		----------------------------
		<form action="{% url 'article_search' %}">
		

			<input type="text" name="query" placeholder="Digite algum número">
			<input type="submit" value="SEARCH">

		</form>

		{{ time_nowCP|date:'Y/m/d | H:i' }}</br> <!-- context_processor -->
		{% if request.user.is_authenticated %}

			<a href="{% url 'account_logout' %}">{{ request.user }}</a> | ----
			<a href="{% url 'article_create' %}">New Post</a>

		{% else %}

			<a href="{% url 'account_login' %}">Login</a> | 
		
		{% endif %}

		{% block content %}
		<!-- -->

		{% endblock content %}

	</body>
</html>