{% extends "base.html" %}


{% block content %}
	<h1>CREATE VIEW</h1>
	-------------------------------------
	<form  method="POST" accept-charset="utf-8">
		{% csrf_token %}
			
		{{ form.as_p }}

		<button type="submit">Create Article</button>

	</form>

	<a href="{% url 'home_page' %}">Cancel</a>

{% endblock content %}