{% extends "base.html" %}


{% block content %}
<h1>DETAIL VIEW !!</h1>
-------------------------------------
	<h2>{{ obj.title }}</h2>

	<p>{{ obj.content }}</p>
	<form action="{% url 'home_page' %}">
         <button type="submit">Home</button>
    </form>
{% endblock content %}